div{
    color: green;
    text-align: center;
    font-size:60px;

}

.myDiv{
  color: green;
  text-align: center;
  font-size:60px;

}


p{
  background-color: white;
  text-align: center; 
  font-family:"Papyrus";

}
